body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/Minimalist-Aesthetic-Wallpaper-Funny-Money.jpg) no-repeat center center;
    background-size: 100% 100%;
}

header {
    background: url(img/fairy-sunrise-mountain-forest-landscape-morning.jpg) no-repeat center center;
    background-size: 100%;
    height: 818px;
    width: auto;
    margin-bottom: 0;
}

main li {
    list-style-type: none;
}

.header {
    display: flex;
}

.header a {
    text-decoration: none;
    color: #000;
}

.header .links {
    list-style-type: none;
    padding-top: 140px;
    font-size: 1.9em;
    text-transform: uppercase;
}

.header__links {
    padding-top: 25px;
}

.span {
    padding-left: 250px;
    padding-top: 140px;
    font-size: 1.2em;
    list-style-type: none;
    text-transform: uppercase;
}

.span h2 {
    font-size: 30px;
}

.biography {
    height: 818px;
    width: 1366px;
    margin-top: 0;
}

.main__content {
    display: flex;
}

.glitch {
    color: #000;
}

.content {
   background-color: #b4a284;
    height: 818px;
    padding-top: 0;
    padding-left: 10px;
    color: white;
    width: 650px;
}

.conteiner {
    background-color: #ede3b9;
    height: 818px;
    padding-top: 0;
    padding-left: 10px;
    color: #000;
    width: 650px;
}

.footer {
    padding-top: 780px;
}

.socials {
    display: flex;
    align-items: center;
    right: 3%;
    top: 35%;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
    position: relative;
}

.socials .socials__item {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.socials .socials__item .socials__link {
    text-decoration: none;
}
.socials .socials__item .socials__link .fa-brands {
    font-size: 4em;
    color: rgb(255, 255, 255);
}
.socials .socials__item .socials__link::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.socials .socials__item:nth-child(1) .socials__link::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}
.socials .socials__item:nth-child(2) .socials__link::before {
    content: "\f232";
    color: #25D366;
    border-bottom: 4px solid #25D366;
}
.socials .socials__item:nth-child(3) .socials__link::before {
    content: "\f09b";
    color: #000000;
    border-bottom: 4px solid #240df5;
}

.socials .socials__item:nth-child(4) .socials__link::before {
    content: "\f1b6";
    color: #000000;
    border-bottom: 4px solid #000000;
}

.socials .socials__item:hover .socials__link::before {
    height: 100%;
}

